#mapid{
    
    height: 500px;
    width: 80%; 
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 100;
    margin-top: 8;
    background:url(outerspace-32.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.navegador{
    width: 1000px;
    margin: 30px auto;
    background: #dcdcdc;
}

.navegador ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: hsl(182, 84%, 46%);
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: rgb(240, 243, 244);
    font-size: 50px;
    font-weight: 500;
    font-family: cursive;
}

.titulo2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: rgb(244, 208, 63);
}

p{
    color: rgb(244, 208, 63);
    font-size: 50px;
    font-weight: 500;
    font-family: cursive;
}

.parrafo{
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 20px;
    color:#f1efefe8;
    font-weight: 700;
}
